@import './breakpoints/breakpoints.scss';

body {
  background-color: rgb(0, 0, 0);
}

.Navbar {
  background-image: linear-gradient(
    135deg,
    rgb(102, 51, 0) 0%,
    rgb(163, 122, 81) 59%,
    rgb(211, 190, 168) 89%
  );
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;


  &__leftSide {
    flex: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    &__links {
      max-height: 80px;
      margin-left: 80px;
      &__nav {
        color: white;
        font-size: 20px;
        margin-left: 20px;
        &__img {
          max-width: 5rem;
          margin-right: 15px;
        }
      }
    }
    &__btn {
      display: none;
      margin-left: 25px;
    }
    #hidden {
      display: flex;
    }
  }
  &__rightSide {
    flex: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
  }
  @include media('<=tabletc') {
    &__leftSide {
      &__btn {
        display: flex;
       }
      &__links {
        display: none;
        &__nav {
          margin: 10px;
        }
      }
      #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        height: 230px;
        max-height: 230px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.796);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 20;
        margin-left: 0px;
      }
    }
  }
 
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  height: 100vh;
}

.masthead h1.ui.header {
  font-size: 4em;
  @include media ('<=phones') {
    font-size: 2em;
  }
  @include media ('<=tablet') {
    font-size: 2em;
  }
}



.div {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/tunel.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  padding-top: 50vh;
  display: block;
  @include media ('<=phone') {
    padding-top: 60px;
    background-size: fit;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.Parallax {
  display: flex;
  justify-content: center;

  &__background1,
  &__background2 {
    width: 1080px;
    height: 750px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  &__background1 {
    background-image: url('../../assets/lp.jpg');
  }

  &__background2 {
    background-image: url('../../assets/background_02-2.png');
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 0px;

    &__heading,
    &__cta {
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    &__heading {
      background-color: rgb(252, 252, 252);
      width: 40%;
      padding: 40px;

      &__text {
        margin: 10px 0;
        font-size: 60px;
        color: #fff;
      }

      &__caption {
        margin: 50px;
        font-size: 20px;
        text-align: center;
        color: #fff;
      }
    }

    &__cta {
      background-color: #a2999a23;
      width: 60%;
      padding: 40px;

      font-size: 20px;
      color: #fff;

      margin-top: 20px;
    }
  }
  @include media('<=phone') {
    &__background1,
    &__background2 {
      width: 100%;
      height: 750px;
    }

    &__content {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      &__heading {
        width: 40%;
        padding: 8px;

        &__text {
          margin: 10px 0;
          font-size: 40px;
          color: #fff;
          text-align: center;
        }

        &__caption {
          margin: 50px;
          font-size: 15px;
          text-align: center;
        }
      }

      &__cta {
        width: 100%;
        padding: 0;
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }

  @include media('<=tablet') {
    &__background1,
    &__background2 {
      width: 100%;
      height: 750px;
    }

    &__content {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      &__heading {
        width: 40%;
        padding: 8px;

        &__text {
          margin: 10px 0;
          font-size: 40px;
          color: #fff;
          text-align: center;
        }

        &__caption {
          margin: 50px;
          font-size: 15px;
          text-align: center;
        }
      }

      &__cta {
        width: 100%;
        padding: 0;
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }
  @include media('<=tabletc') {
    &__background1,
    &__background2 {
      width: 100%;
      height: 750px;
    }

    &__content {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      &__heading {
        width: 40%;
        padding: 8px;

        &__text {
          margin: 10px 0;
          font-size: 40px;
          color: #fff;
          text-align: center;
        }

        &__caption {
          margin: 50px;
          font-size: 15px;
          text-align: center;
        }
      }

      &__cta {
        width: 100%;
        padding: 0;
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }
  @include media('<=desktop') {
    &__background1,
    &__background2 {
      width: 100%;
      height: 750px;
    }

    &__content {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      &__heading {
        width: 40%;
        padding: 8px;

        &__text {
          margin: 10px 0;
          font-size: 40px;
          color: #fff;
          text-align: center;
        }

        &__caption {
          margin: 50px;
          font-size: 15px;
          text-align: center;
        }
      }

      &__cta {
        width: 100%;
        padding: 0;
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }
}
